html{
font-family:Impact, Charcoal, sans-serif;
}
header{
  background-color: #1f232c;
  overflow: hidden;
}
.menu {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:24px;
  padding-top:22px;
}
header a.active {
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:24px;
  padding-top:22px;
  color: #ff8533;
}
.menu:hover {
  color: #ff8533
}
p.test{
	font-size:24px;
	color: white;
}
.menu_left {
	display: inline-block;	
	padding-left:5%;

	float: left;
	
}
.menu_middle{
	display: inline-block;
	padding-left:1%;
	width: 15%;
}
.menu_right{
	display: inline-block;
	padding-right:5%;
	float: right;
}
div.home{

}
p.home{
	width:35%;
	color:#ff8533;
	font-size:50px;
	padding-top:15%;
	padding-left:20%;
}

p.home2{
	width:35%;
	color:black;
	font-size:30px;
	padding-left:20%;
}

body{
	margin:0;
	background-image:url('./img/bg5.jpeg');
	background-size:cover;
}

.about_left{
	width:50%;
	float:left;
	min-height:68vh;
}
.about_left h1{
	color: #ff8533;
	font-size:50px;
	padding-top:5%;
	padding-left:10%;
	padding-right:20%;
}
.about_left p{
	color:#1f232c;
	font-size:35px;
	padding-left:10%;
	padding-right:20%;
}

.user_left p{
	padding-left: 5%
}

.user_right p{
	padding-right: 5%
}

.about_right{
	width:50%;
	float:right;
	min-height: 68vh;
}
.tím_foto{
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
}
.about_us2 h1{
	font-size:35px;
	color:#ff8533;
}
.about_us2 p{
	color: #1f232c;
	font-size:25px;
}
.about_us2 .user_left{
	--margin-left:25%;
	min-height: 34vh;
	width:25%;
	float:left;
	text-align: center;
}
.about_us2 .user_right{
	--margin-right:25%;
	min-height: 34vh;
	width:25%;
	float:left;
	text-align: center;
}
.about_us2{
	--margin-left:25%;
	--margin-right:25%;
}
.foto{
	margin-top:7%;
	border-radius: 50%;
	display: block;
  margin-left: auto;
  margin-right: auto;
}
.plan_left{
	float:left;
	min-height:75vh;
	width:50%;
	text-align:center;
}
.plan_right{
	float:right;
	min-height:75vh;
	width:50%;
}

.plan_left p{
	font-size:80px;
	padding-top:15%;
}
.timeline_left{
	float:left;
	width:40%;
	text-align:center;
	min-height:15vh;
}

.timeline_right{
	font-size:20px;
	color:#1f232c;
	float:right;
	width:60%;
	min-height:15vh;
}
.timeline_left p{
	font-size:40px;
	color:#ff8533;
}
.work_plan{
	width:50%;
	padding-left:25%;
	align:center;
}
.plan_left h1{
	color:red;
	font-size:50px;
}
body.plan{
	--background-color:white;
}
.documents .top{
	text-align:center;
	color:#ff8533;
	font-size:40px;
	margin-top:10%;
	margin-bottom:10%;
}
.documents .bottom{
	width: 50%;
	padding-left: 25%;
	padding-right: 25%;
}
.zapisnica, .retrospektiva, .metodika, .dokumentacia{
	width: 100%;
	font-size:25px;
	color:#1f232c;
	margin-bottom:5%;
	text-align:center;
}
.zapisnica, .metodika{
	float:left;
}
.retrospektiva, .dokumentacia{
	float:right;
}
a.tr{
	color:#1f232c;
}